<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Tag Requests</h2>

ID | photoPoster
<form action="/acceptTags" method="GET">
    {% for line in tags %}
    <input type="radio" name="photoID" value={{line.photoID}}>{{line.photoID}}</input>
	| {{line.photoPoster}}
    <br>
    {% endfor %}
<input type="submit" value="Accept">
</form>
<br>
<a href="/home">Go Back</a>
<br>
{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}

</body>
</html>