<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>
Tag
</h2>

<form action="/tag" method="POST">
    <input type="text" name="photoID" placeholder="photoID" required/> </br>
    <input type="text" name="follower" placeholder="follower" required/> </br>
    <input type="submit" value = Tag />
</form>


<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<br>
<a href="/home">Go back</a>

{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}


</body>
</html>