<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>More Details</h2>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
    <th>Photo ID</th>
	<th>Poster First Name</th>
    <th>Poster Last Name</th>
	<th>Poster Username</th>
	<th>Time Posted</th>


	<tr>
        <td>{{poster.photoID}}</td>
		<td>{{poster.posterFirstName}}</td>
		<td>{{poster.posterLastName}}</td>
		<td>{{poster.posterUsername}}</td>
        <td>{{poster.postingDate}}</td>
	</tr>
</table>
<br>
<br>
<table>
    <th>Tagged First Name</th>
    <th>Tagged Last Name</th>
    <th>Tagged Username</th>

{% for line in tagged %}
	<tr>
        <td>{{line.taggedFirstName}}</td>
		<td>{{line.taggedLastName}}</td>
		<td>{{line.taggedUsername}}</td>
	</tr>
{% endfor %}
</table>
<br>
<a href="/home">Go back</a>
<br>
{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}


</body>
</html>